html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    height: 100%;

}

.sidebar{
    flex: 1 1 0;

    min-height: 100%;
    width: 30%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./img/background-form.jpg");
    
}
.form-container{
    flex: 2 1 0;
    display: flex;
   
    flex-direction: column;
    

}
p{
    font-family: "Poppins";
}

.logo{
    margin-top: 20%;
    background-color: rgb(132, 127, 127);
    opacity: .5;
    height: 150px;
    display: flex;
    align-items: center;
    gap: 0;
}
.logo > img{
    flex: 1 1 0;
    height: 150px;
    width: 70px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(340deg) brightness(104%) contrast(101%);
}
.logo > span {
    flex: 1 1 0;
    font-size: 3em;
    color: white;
}
.form-header, .form-footer{
    margin: 0;
    font-weight: 900;
    background-color: rgb(245, 244, 242);
}
.form-header > div  {
    margin: 10% 20% 5% 10%;
}
.form-section > h2 {
    font-family: "Poppins";
    margin: 2% 20% 2% 10%;
}
form{
    margin: 0% 20% 0% 10%;
    display: flex;
    gap: 20%;
    flex-wrap: wrap;
}
.form-row {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: "Poppins";
    font-size: 14px;
  }

  .form-row input {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
  }
  .form-row input:focus{
    box-shadow: 5px 5px 5px #D6D9DC;
  }
  .form-row input[type='password']:invalid {
    border: 1px solid #ff7184;
    border-radius: 3px;
  }
  .form-footer{
    display: flex;
    height: 100%;
    flex-direction: column;
    border-top: 2px solid #D6D9DC;
  }
  .footer-btn{
    margin: 2% 20% 0% 10%;
  }
  .login{
    margin: 0% 20% 2% 10%;
    font-size: small;
    font-weight: 300;
  }
  button{
    background-color:#596D48;
    color: white;
    font-size: 16px;
    font-weight: bold;
  
    
  
    border: none;
    border-radius: 3px;
  
    padding: 10px 40px;
    cursor: pointer;
  }
  #password_mismatch{
    font-size: .75em;
  }